.metadata
.vscode

/ADC/Debug/*
/ADC/.settings/
/ADC/.cproject
/ADC/.project
/ADC/ADC Debug.launch
/ADC/STM32F429ZITX_FLASH.ld
/ADC/STM32F429ZITX_RAM.ld

/Hola_Mundo/Debug/
/Hola_Mundo/.settings/
/Hola_Mundo/.cproject
/Hola_Mundo/.project
/Hola_Mundo/Hola_Mundo Debug.launch
/Hola_Mundo/STM32F429ZITX_FLASH.ld
/Hola_Mundo/STM32F429ZITX_RAM.ld

/NVIC_SysTick/Debug/
/NVIC_SysTick/.settings/
/NVIC_SysTick/.cproject
/NVIC_SysTick/.project
/NVIC_SysTick/NVIC_SysTick Debug.launch
/NVIC_SysTick/STM32F429ZITX_FLASH.ld
/NVIC_SysTick/STM32F429ZITX_RAM.ld

/Timer/Debug/
/Timer/.settings/
/Timer/.cproject
/Timer/.project
/Timer/Timer Debug.launch
/Timer/STM32F429ZITX_FLASH.ld
/Timer/STM32F429ZITX_RAM.ld

/USART/Debug/
/USART/.settings/
/USART/.cproject
/USART/.project
/USART/USART Debug.launch
/USART/STM32F429ZITX_FLASH.ld
/USART/STM32F429ZITX_RAM.ld

/PWM/Debug/
/PWM/.settings/
/PWM/.cproject
/PWM/.project
/PWM/PWM Debug.launch
/PWM/STM32F429ZITX_FLASH.ld
/PWM/STM32F429ZITX_RAM.ld

/DMA/Debug/
/DMA/.settings/
/DMA/.cproject
/DMA/.project
/DMA/DMA Debug.launch
/DMA/STM32F429ZITX_FLASH.ld
/DMA/STM32F429ZITX_RAM.ld

/I2C/Debug/
/I2C/.settings/
/I2C/.cproject
/I2C/.project
/I2C/I2C Debug.launch
/I2C/STM32F429ZITX_FLASH.ld
/I2C/STM32F429ZITX_RAM.ld

/SPI/Debug/
/SPI/.settings/
/SPI/.cproject
/SPI/.project
/SPI/SPI Debug.launch
/SPI/STM32F429ZITX_FLASH.ld
/SPI/STM32F429ZITX_RAM.ld

/hola_hal/*